body {
    background-color: darkslategrey;
    text-align: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: whitesmoke;
}

/* Buttons */
.btn {
    border-radius: 60%;
    border: 3px solid black;
    margin: 10px;
    padding: 50px;
    width: 175px;
    height: 175px;
    display: inline-block;
}

.green {
    background-color: green;
}

.red {
    background-color: darkred;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}


/* Game Animations */
.game-over {
    background-color: red;
    opacity: 0.75;
}

.clicked {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
